.device-list {
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 8px;
    height: 100%;
    width: 100%;
}

.device-list-header {
    margin-bottom: 20px;
    width: 100%;
}


.MuiListItem-root {
    margin-bottom: 8px;
    background-color: #2d2d2d;
    border-radius: 4px;
}

.MuiListItem-root:hover {
    background-color: #3d3d3d;
}

.MuiListItemText-primary {
    color: #ffffff;
}

.MuiListItemText-secondary {
    color: #9e9e9e;
}

.MuiIconButton-root {
    color: #757575;
}

.MuiIconButton-root:hover {
    color: #ffffff;
}

.device-list h2 {
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Poppins';
}

.device-list table {
    width: 100%;
    border-collapse: collapse;
}

.device-list th, .device-list td {
    padding: 10px;
    text-align: left;
}

.device-list th {
    background-color: #f2f2f2;
}

.device-list tr:nth-child(even) {
    background-color: #f9f9f9;
}

.device-list tr:hover {
    background-color: #e9e9e9;
}

.device-list td:last-child {
    text-align: center;
}

.device-list button {
    margin-right: 5px;
}

.device-list input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.device-list .MuiButtonBase-root {
    margin-right: 5px;
}
